<p style="color: green"><%= notice %></p>

<h1 class="title">Movies</h1>

<div id="watchlists">
  <% @watchlists.each do |watchlist| %>
    <%= render watchlist %>
    <p>
      <%= link_to "Show this watchlist", watchlist %>
    </p>
  <% end %>
</div>

<div class="addbutton">
<%= link_to "Add a new movie", new_watchlist_path, class: "btn btn-primary mb-3" %>
</div>



