<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">"Dr. Grant, my dear Dr. Sattler,<br>
   welcome... to
  <s>Jurassic Park</s>!<br>ahem... to the movies watch list!</h1>


<p>


-------------------------
</p>



  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">The place to save your precious watch list until you stop your server</p>
  </div>
</div>